.background {
	position: absolute;
	top: 0px; 
	bottom: 0px;
	left: 0px;
	right: 0px;
	

	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #01081A;
}

.background-filter {
	position: absolute;
	top: 0px; 
	bottom: 0px;
	left: 0px;
	right: 0px;

	background-color: rgba(0,0,0,0);

	-webkit-transition: background-color 0.7s;
    transition: background-color 0.7s;
}

.dark {
	background-color: rgba(0,0,0, 0.5);
}

.light {
	background-color: rgba(176, 164, 114, 0.1);	
}


#splash {
	margin-top: 300px;
	font-size: 64px;
	color: #F5DF65;
	text-shadow: 10px 10px 10px #01081A;
}

.fader {
	background-color: rgba(0,0,0, .5);
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 120px;
}

.fader p {
	color: white;
	float: right;
}


.profile {
	height: 100%;
	border: 1px solid white;
}

#part-1 h1 {
	margin-top: 60px;
	text-align: center;
	color: #59C8DF;
	font-size: 54px;
	text-shadow: -1px -2px 1px #59C8DF;
}

#part-2 h1 {
	margin-top: 60px;
	text-align: center;
	color: #F15D58;
	font-size: 54px;
	text-shadow: 2px 2px 5px #AE433F;
}

#part-3 h1 {
	margin-top: 60px;
	text-align: center;
	font-size: 54px;
	margin-top: 100px;
	color: #C7F464;
	text-shadow: 2px 2px 5px #647A32;
}

#fish {
	background-color: #C7F464;
	font-size: 32px;
	text-align: center;
	padding: 20px;
	border-radius: 10px;

	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.box {
	border-radius: 10px;
	border: 1px solid #59C8DF;
	color: #59C8DF;

	text-align: center;
	padding: 20px;

	background-color: rgba(0,0,0,0.4);
}

.tile {
	padding: 30px;
	background-color: rgba(241, 93, 88, 0.8);
	box-shadow: 2px 2px 2px #AE433F;
	text-align: center;
}

.tile p {
	font-size: 32px;
	color: #FFFFFF;
}

.box p {
	font-size: 24px;
}

@media (max-width: 1200px) {
	.background {
		background-image: url(imgs/background-phone.jpg);
	}
}

@media (min-width: 1200px) {
	.background {
		background-image: url(imgs/background.jpg);
	}
}