@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {

  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@font-face {
	font-family: MainFont;
	src: ulr(mainfot.otf);
}

body {
	font-family: MainFont;
}

.background {
	position: absolute;
	top: 0px; 
	bottom: 0px;
	left: 0px;
	right: 0px;
	

	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #01081A;
}

.background-filter {
	position: absolute;
	top: 0px; 
	bottom: 0px;
	left: 0px;
	right: 0px;

	background-color: rgba(0,0,0,0);

	-webkit-transition: background-color 1.5s;
    transition: background-color 1.5s;
}

.pusher {
	margin-top: 120px;
}

.effect {

	background-color: rgba(0,0,0,0);
	position: absolute;

	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.visible {
	background-color: rgba(0,0,0,0.1);
}

.dark {
	background-color: rgba(0,0,0, 0.5);
}

.light {
	background-color: rgba(176, 164, 114, 0.1);	
}


#splash {
	margin-top: 300px;
	font-size: 64px;
	color: #F5DF65;
	text-shadow: 10px 10px 10px #01081A;
}

.fader {
	background-color: rgba(0,0,0, .5);
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.fader p {
	color: white;
	font-size: 16px;
}


.profile {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid white;
}

.kram {
	padding: 20px;
	width: 100%;
	background-size: 100%;
	box-shadow: 1px 1px 10px #456473;
	border-radius: 10px;
	background-image: url(imgs/kram.jpg);
}

.depth {
	width: 100%;
	background-color: #1C282E;
	border-radius: 10px;
	font-size: 32px;
	color: transparent;
	box-shadow: 0px 0px 10px #456473 inset;
	padding: 20px;
	height: 0px;

	transition: height 1.5s ease-in, color 1s linear 1.3s;
	-webkit-transition: height 1.5s ease-in;
}

.thumb {
	width: 200px;
}

#part-2 {
	background-color: #688A9A;
}

#part-3 h1 {
	margin-top: 60px;
	text-align: center;
	font-size: 54px;
	margin-top: 100px;
	color: #F7C6BD;
	text-shadow: 2px 2px 5px #DEB2AA;
}

#part-3 p {
	margin-top: 40px;
	text-align: center;
	color: #F7C6BD;
	font-size: 32px;
}

.box {
	border-radius: 10px;
	color: #F8C6BE;

	text-align: center;
	padding: 20px;

	background-color: rgba(0,0,0,0.6);
	box-shadow: 0px 0px 50px 15px #F8C6BE;
}

.box p {
	font-size: 32px;
}

#mailer {
	margin-top: 200px;
	width: 100%;
	text-align: center;
}

#mailer input[type="email"] {
	color: #F7C6BD;
	width: 50%;
	font-size: 32px;
	border: none;
	border-bottom: 2px solid #F7C6BD;
	background-color: transparent;
	box-shadow: 2px 2px 4px black;
	margin-right: 10px;
}

.hammer {
	-webkit-animation: rotating 4s linear infinite;
	-moz-animation: rotating 4s linear infinite;
	-ms-animation: rotating 4s linear infinite;
	-o-animation: rotating 4s linear infinite;
	animation: rotating 4s linear infinite;

  transform-origin: 30% 70%;
  -webkit-transform-origin: 30% 70%;
}

#test {
	background-color: transparent;
	color: transparent;
}

#mailer input[type="email"]:valid ~ #test {
	background-color: #F7C6BD;
	color: black;
}

#mailer input[type="email"]:invalid {
	box-shadow: none;
}

#mailer input[type="email"]:valid {
	box-shadow: none;
}

@media (max-width: 1200px) {
	.background {
		background-image: url(imgs/background-phone.jpg);
	}
}

@media (min-width: 1200px) {
	.background {
		background-image: url(imgs/background-1.jpg);
	}
}